<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
      <mat-card-title align="center">Delete Account</mat-card-title>
      <br>
      <mat-card-content>
          <div fxLayout="column wrap" fxLayoutGap="40px">
              <div fxLayout="row wrap" fxFlex>
                  <div fxFlex><strong>Account Type:</strong></div>
                  <div fxFlex>{{account?.accountType}}</div>
              </div>
              <div fxLayout="row wrap" fxFlex>
                  <div fxFlex><strong>Date Created:</strong></div>
                  <div fxFlex>{{account?.dateCreated | date}}</div>
              </div>
              <div fxLayout="row wrap" fxFlex>
                  <div fxFlex><strong>Owner:</strong></div>
                  <div fxFlex>{{owner?.name}}</div>
              </div>
          </div>
      </mat-card-content>
      <mat-card-actions align="center">
          <button mat-raised-button color="warn" (click)="deleteAccount()">Delete</button>
          <button type="button" mat-raised-button color="primary" (click)="onCancel()">Cancel</button>
      </mat-card-actions>
  </mat-card>
</section>
